header {
  background-color: #fff;
  align-items: center;
  display: flex;
  flex-direction: row;
  height: $header-height;
  justify-content: space-between;
  padding: 0em 2em;
  width: 100%;
  font-family: 'chocolates';
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  img {
    width: 56px;
  }

  h1 {
    font-family: 'chocolates';
    font-size: 24px;
    font-weight: 900;
    color: $teal;
    letter-spacing: 1.17px;
    padding-left: 1em;
    padding-top: 20px;
    text-transform: uppercase;
  }

  a {

    color: $teal;
  }

  &:visited {
    color: $teal
  }

  &:hover {
    color: $teal;
  }
}


ul {
  @include media($mobile) {
    text-align: right;
  }

  li {
    display: inline;
    padding-left: 2em;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 3px;

    $nav-link-color: $teal;

    a {
      color: $nav-link-color;

      &:hover {
        color: lighten($nav-link-color, 15%);
      }

      &:active {
        color: darken($nav-link-color, 20%);
      }
    }
  }
}
