header {
  background-color: #fff;
  align-items: center;
  display: flex;
  flex-direction: row;
  height: $header-height;
  justify-content: space-between;
  padding: 0em 1.8em;
  position: fixed;
  width: 100%;
}


ul {
  li {
    display: inline;
  }
}
