body {
  background-color: $olive;
  margin: 0;
}

section {
  width: 100%;
}

#home-hero {
  padding-top: $header-height;
  padding-bottom: 8em;

  h1 {
    color: $dark-blue;
    font-family: 'chocolates';
    font-weight: 900;
    font-size: 72px;
    letter-spacing: 3.52px;
    line-height: 108px;
    text-transform: uppercase;
  }

  h2 {
    color: $dark-blue;
    font-family: 'chocolates';
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 4px;
    line-height: 30px;
    text-transform: uppercase;
  }
}

.hero-text {
  padding-top: 6em;
  text-align: center;
}

#home-about {
  background-color: $tan;
  padding: 8em 0;

  .home-about-text {
    padding-bottom: 2em;
  }
}

.home-about-img {
  margin-top: 3em;
  // width: 100%;
  padding: 2em;
}
