@font-face {
  font-family: 'chocolates';
  font-weight: 900;
  src: url("fonts/chocolates/TTChocolates-Black.woff") format("woff"); }

@font-face {
  font-family: 'chocolates';
  font-weight: 700;
  src: url("fonts/chocolates/TTChocolates-Bold.woff") format("woff"); }

@font-face {
  font-family: 'explorer';
  font-weight: 700;
  src: url("fonts/explorer/hkexplorer-bold-webfont.woff") format("woff"); }

@font-face {
  font-family: 'explorer';
  font-weight: 500;
  src: url("fonts/explorer/hkexplorer-medium-webfont.woff") format("woff"); }

@font-face {
  font-family: 'explorer';
  font-weight: 400;
  src: url("fonts/explorer/hkexplorer-book-webfont.woff") format("woff"); }

@font-face {
  font-family: 'explorer';
  font-weight: 300;
  src: url("fonts/explorer/hkexplorer-light-webfont.woff") format("woff"); }

@font-face {
  font-family: 'explorer';
  font-weight: 200;
  src: url("fonts/explorer/hkexplorer-extralight-webfont.woff") format("woff"); }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  appearance: none;
  background-color: #477dca;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "NeueHansKendrick-Heavy";
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-decoration: none;
  transition: background-color 250ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus {
    background-color: #3964a2;
    color: #fff; }
  button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover, input[type="button"]:disabled:hover, input[type="reset"]:disabled:hover, input[type="submit"]:disabled:hover {
      background-color: #477dca; }

fieldset {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  margin: 0 0 0.75em;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "NeueHansKendrick-Heavy";
  font-size: 1em; }

label {
  font-weight: 600;
  margin-bottom: 0.375em; }
  label.required::after {
    content: "*"; }
  label abbr {
    display: none; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea,
select[multiple=multiple] {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  font-family: "NeueHansKendrick-Heavy";
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 250ms ease;
  width: 100%; }
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, input:not([type]):hover, textarea:hover,
  select[multiple=multiple]:hover {
    border-color: #b1b1b1; }
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus,
  select[multiple=multiple]:focus {
    border-color: #477dca;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none; }
  input[type="color"]:disabled, input[type="date"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="email"]:disabled, input[type="month"]:disabled, input[type="number"]:disabled, input[type="password"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="text"]:disabled, input[type="time"]:disabled, input[type="url"]:disabled, input[type="week"]:disabled, input:not([type]):disabled, textarea:disabled,
  select[multiple=multiple]:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed; }
    input[type="color"]:disabled:hover, input[type="date"]:disabled:hover, input[type="datetime"]:disabled:hover, input[type="datetime-local"]:disabled:hover, input[type="email"]:disabled:hover, input[type="month"]:disabled:hover, input[type="number"]:disabled:hover, input[type="password"]:disabled:hover, input[type="search"]:disabled:hover, input[type="tel"]:disabled:hover, input[type="text"]:disabled:hover, input[type="time"]:disabled:hover, input[type="url"]:disabled:hover, input[type="week"]:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover,
    select[multiple=multiple]:disabled:hover {
      border: 1px solid #ddd; }

textarea {
  resize: vertical; }

input[type="search"] {
  appearance: none; }

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }
  input[type="checkbox"] + label,
  input[type="radio"] + label {
    display: inline-block; }

input[type="file"] {
  margin-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

table {
  border-collapse: collapse;
  font-feature-settings: "kern", "liga", "tnum";
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #a6a6a6;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

body {
  color: #333;
  font-family: "explorer";
  font-feature-settings: "kern", "liga", "pnum";
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  margin: 0 0 0.75em; }

h2 {
  color: #3CC7C5;
  font-size: 36px;
  font-weight: 700; }

h3 {
  font-weight: 700;
  letter-spacing: -0.2px; }

p {
  color: #00334A;
  margin: 0 0 0.75em;
  font-weight: 300;
  font-size: 24px;
  line-height: 44px; }

a {
  color: #477dca;
  text-decoration: none;
  transition: color 250ms ease; }
  a:active, a:focus, a:hover {
    color: #355e98; }

.button-secondary {
  border: solid 2px #00334A;
  background-color: none;
  color: #00334A;
  font-size: 16px;
  font-weight: 700;
  padding: 12px 24px;
  line-height: 24px;
  transition: background-color, color ease 250ms; }
  .button-secondary:hover {
    background-color: #00334A;
    color: #FEF7EB; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

.bg-tan {
  background-color: #FEF7EB; }

.bg-olive {
  background-color: #EDEEE3; }

.bg-white {
  background-color: #FFFFFF; }

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .container::after {
    clear: both;
    content: "";
    display: block; }

.col-1 {
  float: left;
  display: block;
  margin-right: 2.3576520234%;
  width: 6.1721523119%; }
  .col-1:last-child {
    margin-right: 0; }
  @media screen and (max-width: 748px) {
    .col-1 {
      float: left;
      display: block;
      margin-right: 7.4229717578%;
      width: 100%; }
      .col-1:last-child {
        margin-right: 0; } }

.col-2 {
  float: left;
  display: block;
  margin-right: 2.3576520234%;
  width: 14.7019566472%; }
  .col-2:last-child {
    margin-right: 0; }
  @media screen and (max-width: 748px) {
    .col-2 {
      float: left;
      display: block;
      margin-right: 7.4229717578%;
      width: 100%; }
      .col-2:last-child {
        margin-right: 0; } }

.col-3 {
  float: left;
  display: block;
  margin-right: 2.3576520234%;
  width: 23.2317609825%; }
  .col-3:last-child {
    margin-right: 0; }
  @media screen and (max-width: 748px) {
    .col-3 {
      float: left;
      display: block;
      margin-right: 7.4229717578%;
      width: 100%; }
      .col-3:last-child {
        margin-right: 0; } }

.col-4 {
  float: left;
  display: block;
  margin-right: 2.3576520234%;
  width: 31.7615653177%; }
  .col-4:last-child {
    margin-right: 0; }
  @media screen and (max-width: 748px) {
    .col-4 {
      float: left;
      display: block;
      margin-right: 7.4229717578%;
      width: 100%; }
      .col-4:last-child {
        margin-right: 0; } }

.col-5 {
  float: left;
  display: block;
  margin-right: 2.3576520234%;
  width: 40.291369653%; }
  .col-5:last-child {
    margin-right: 0; }
  @media screen and (max-width: 748px) {
    .col-5 {
      float: left;
      display: block;
      margin-right: 7.4229717578%;
      width: 100%; }
      .col-5:last-child {
        margin-right: 0; } }

.col-6 {
  float: left;
  display: block;
  margin-right: 2.3576520234%;
  width: 48.8211739883%; }
  .col-6:last-child {
    margin-right: 0; }
  @media screen and (max-width: 748px) {
    .col-6 {
      float: left;
      display: block;
      margin-right: 7.4229717578%;
      width: 100%; }
      .col-6:last-child {
        margin-right: 0; } }

.col-7 {
  float: left;
  display: block;
  margin-right: 2.3576520234%;
  width: 57.3509783236%; }
  .col-7:last-child {
    margin-right: 0; }
  @media screen and (max-width: 748px) {
    .col-7 {
      float: left;
      display: block;
      margin-right: 7.4229717578%;
      width: 100%; }
      .col-7:last-child {
        margin-right: 0; } }

.col-8 {
  float: left;
  display: block;
  margin-right: 2.3576520234%;
  width: 65.8807826589%; }
  .col-8:last-child {
    margin-right: 0; }
  @media screen and (max-width: 748px) {
    .col-8 {
      float: left;
      display: block;
      margin-right: 7.4229717578%;
      width: 100%; }
      .col-8:last-child {
        margin-right: 0; } }

.col-9 {
  float: left;
  display: block;
  margin-right: 2.3576520234%;
  width: 74.4105869942%; }
  .col-9:last-child {
    margin-right: 0; }
  @media screen and (max-width: 748px) {
    .col-9 {
      float: left;
      display: block;
      margin-right: 7.4229717578%;
      width: 100%; }
      .col-9:last-child {
        margin-right: 0; } }

.col-10 {
  float: left;
  display: block;
  margin-right: 2.3576520234%;
  width: 82.9403913294%; }
  .col-10:last-child {
    margin-right: 0; }
  @media screen and (max-width: 748px) {
    .col-10 {
      float: left;
      display: block;
      margin-right: 7.4229717578%;
      width: 100%; }
      .col-10:last-child {
        margin-right: 0; } }

.col-11 {
  float: left;
  display: block;
  margin-right: 2.3576520234%;
  width: 91.4701956647%; }
  .col-11:last-child {
    margin-right: 0; }
  @media screen and (max-width: 748px) {
    .col-11 {
      float: left;
      display: block;
      margin-right: 7.4229717578%;
      width: 100%; }
      .col-11:last-child {
        margin-right: 0; } }

.col-12 {
  float: left;
  display: block;
  margin-right: 2.3576520234%;
  width: 100%; }
  .col-12:last-child {
    margin-right: 0; }
  @media screen and (max-width: 748px) {
    .col-12 {
      float: left;
      display: block;
      margin-right: 7.4229717578%;
      width: 100%; }
      .col-12:last-child {
        margin-right: 0; } }

.shift-0 {
  margin-left: 0%; }

.shift-1 {
  margin-left: 8.5298043353%; }

.shift-2 {
  margin-left: 17.0596086706%; }

.shift-3 {
  margin-left: 25.5894130058%; }

.shift-4 {
  margin-left: 34.1192173411%; }

.shift-5 {
  margin-left: 42.6490216764%; }

.shift-6 {
  margin-left: 51.1788260117%; }

.shift-7 {
  margin-left: 59.708630347%; }

.shift-8 {
  margin-left: 68.2384346823%; }

.shift-9 {
  margin-left: 76.7682390175%; }

.shift-10 {
  margin-left: 85.2980433528%; }

.shift-11 {
  margin-left: 93.8278476881%; }

.shift-12 {
  margin-left: 102.357652023%; }

@media screen and (max-width: 748px) {
  .shift-1,
  .shift-2,
  .shift-3,
  .shift-4,
  .shift-5,
  .shift-6,
  .shift-7,
  .shift-8,
  .shift-9,
  .shift-10,
  .shift-11 {
    margin-left: 0%; } }

.omega {
  margin-right: 0; }

body {
  background-color: #EDEEE3;
  margin: 0; }

section {
  width: 100%; }

#home-hero {
  padding-top: 72px;
  padding-bottom: 8em; }
  #home-hero h1 {
    color: #00334A;
    font-family: 'chocolates';
    font-weight: 900;
    font-size: 72px;
    letter-spacing: 3.52px;
    line-height: 108px;
    text-transform: uppercase;
    margin-bottom: 0; }
  #home-hero h2 {
    color: #00334A;
    font-family: 'chocolates';
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 4px;
    line-height: 30px;
    text-transform: uppercase; }

.hero-text {
  padding-top: 6em;
  text-align: center; }

#home-about {
  background-color: #FEF7EB;
  padding: 8em 0; }
  #home-about .home-about-text {
    padding-bottom: 2em; }

.home-about-img {
  margin-top: 3em;
  padding: 2em; }

header {
  background-color: #fff;
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 72px;
  justify-content: space-between;
  padding: 0em 2em;
  width: 100%;
  font-family: 'chocolates'; }

.logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .logo img {
    width: 56px; }
  .logo h1 {
    font-family: 'chocolates';
    font-size: 24px;
    font-weight: 900;
    color: #3CC7C5;
    letter-spacing: 1.17px;
    padding-left: 1em;
    padding-top: 20px;
    text-transform: uppercase; }
  .logo a {
    color: #3CC7C5; }
  .logo:visited {
    color: #3CC7C5; }
  .logo:hover {
    color: #3CC7C5; }

ul li {
  display: inline;
  padding-left: 2em;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 3px; }
  ul li a {
    color: #3CC7C5; }
    ul li a:hover {
      color: #77d8d7; }
    ul li a:active {
      color: #237a79; }

#contact {
  text-align: center;
  padding-top: 144px; }
  #contact a {
    color: #3CC7C5; }
    #contact a:hover {
      color: #77d8d7; }
    #contact a:active {
      color: #2ea2a0; }

.pdf-resume {
  text-align: center;
  display: flex;
  justify-content: center;
  padding-top: 4em; }
  .pdf-resume .pdf {
    display: flex;
    align-items: center;
    font-size: 13px; }
    .pdf-resume .pdf .download {
      fill: #3CC7C5;
      transition: fill ease 250ms; }
      .pdf-resume .pdf .download:hover {
        fill: #8bdedd; }
    .pdf-resume .pdf h4 {
      color: #3CC7C5;
      margin: 0;
      padding-left: 10px;
      transition: color ease 250ms; }
      .pdf-resume .pdf h4:hover {
        color: #8bdedd; }

.experience-section {
  padding: 4em 0; }

.experience-module {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
  color: #00334A; }
  .experience-module h3 {
    font-size: 18px;
    line-height: 1.1; }
  .experience-module p {
    font-size: 18px;
    line-height: 1.1; }

.module-left {
  display: block;
  text-align: left; }

.module-right {
  display: block;
  text-align: right; }
