// TT Chocolates
@font-face{
	font-family: 'chocolates';
	font-weight: 900;
	src: url('fonts/chocolates/TTChocolates-Black.woff') format('woff')
}

@font-face{
	font-family: 'chocolates';
	font-weight: 700;
	src: url('fonts/chocolates/TTChocolates-Bold.woff') format('woff')
}

// HK Explorer
@font-face{
	font-family: 'explorer';
	font-weight: 700;
	src: url('fonts/explorer/hkexplorer-bold-webfont.woff') format('woff')
}

@font-face{
	font-family: 'explorer';
	font-weight: 500;
	src: url('fonts/explorer/hkexplorer-medium-webfont.woff') format('woff')
}

@font-face{
	font-family: 'explorer';
	font-weight: 400;
	src: url('fonts/explorer/hkexplorer-book-webfont.woff') format('woff')
}

@font-face{
	font-family: 'explorer';
	font-weight: 300;
	src: url('fonts/explorer/hkexplorer-light-webfont.woff') format('woff')
}

@font-face{
	font-family: 'explorer';
	font-weight: 200;
	src: url('fonts/explorer/hkexplorer-extralight-webfont.woff') format('woff')
}
