$base-font-family: 'explorer';
$heading-font-family: $base-font-family;

body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-feature-settings: "kern", "liga", "pnum";
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
}

h2 {
  color: $teal;
  font-size: 36px;
  font-weight: 700;
}

p {
  color: $dark-blue;
  margin: 0 0 $small-spacing;
  font-weight: 300;
  font-size: 24px;
  line-height: 44px;
}

a {
  color: $action-color;
  text-decoration: none;
  transition: color $base-duration $base-timing;

  &:active,
  &:focus,
  &:hover {
    color: shade($action-color, 25%);
  }
}

.button-secondary {
  border: solid 2px $dark-blue;
  background-color: none;
  color: $dark-blue;
  font-size: 16px;
  font-weight: 700;
  padding:12px 24px;
  line-height: 24px;
  transition: background-color, color $base-timing $base-duration;

  &:hover {
    background-color: $dark-blue;
    color: $tan;
  }
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}
